body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #179613;
    color: #fff;
}

.pages {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.pages a {
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #f2f2f2;
}

.manage-section {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

button[onclick="logout()"] {
    width: 70px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[onclick="logout()"]:hover {
    background-color: #d32f2f;
}
.back{
    width: 70px;
    padding: 10px;
    background-color: #a5a5a5;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.back:hover {
    background-color: #9c9a9a;
}